@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* font-family: ‘Satisfy’, cursive; */

*{
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    color: white;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(fondo.jpg);
    background-size: cover;
    justify-content: space-between;
    position: relative;
    display: inline-block;
    text-align: center;

}

.BarraNav {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    background-color:rgb(160, 241, 255, .6);
}

.BarraNav a {
    color: white;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.BarraNav .logo{
    color:white ;
    font-family: "Satisfy", cursive;
    font-size: 65px;
    font-weight: bold;
    margin-left: 25px;
}

.BarraNav .logo:hover,
.BarraNav .logo.active{
    color:white;
}

.BarraNav a:hover,
.BarraNav a.active{
    color:rgb(0, 174, 255) ;
}

.home .ContentHome{
    align-items: center;
    position: absolute;
    color: white;
    top: 60%;
    left: 50%;
    transform: translate(-92%, -50%);
}

.ContentHome h1{
    letter-spacing: 1px;
    font-size: 60px;
    font-weight: 700;
    font-family: "Satisfy", cursive;
    color:rgb(0, 174, 255);
    font-weight: bold;
}

.ContentHome h3{
    letter-spacing: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.ContentHome p{
    margin-bottom: 20px;
    font-size: 16px;
}

.ContentHome .boton{
    border-radius: 30px;
    font-size: 16px;
    width: 25%;
    padding: 15px;
    text-align: center;
    background-color:rgb(0, 183, 255);
    cursor: pointer;
    align-items: center;
}

.ContentHome .boton:hover{
    background: rgb(0, 119, 255);
}














